$bodyFont: 'Space Grotesk', sans-serif;
$headingFont: 'Gwendolyn', cursive;
//$headingFont: 'Lora', sans-serif;
$primaryColor: #16994c;
$secondaryColor: #494949;
$accentColor: #991545;
$darkColor: #212121;
